[Unit]
Description=WeConnectMQTT Bridge
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s
Type=simple
User=pi
WorkingDirectory=/home/pi/weconnect
ExecStart=/home/pi/weconnect/weconnectMQTT.py --service

[Install]
WantedBy=multi-user.target
